.game-list-item {
    margin-top: 400px;
    margin-left: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
  }

/* .game-list-item > h1{
    font-size: 200px;
} */