.homePageGameList{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 5%;
    margin-left: 19%;
}

.swiper {
    margin-top: 4%;
}

.GameNavbarBox {
    align-items: center;
    max-width: 956.9px;
    padding: 3px;
    padding-right: 28px;
    background: linear-gradient(
      90deg,
      rgba(108, 174, 249, 0.9) 10%,
      rgba(47, 155, 255, 0.8) 25%,
      #0f216e
    );
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 1px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1);
    border: solid 0.5px black;
    margin-bottom: 80px;
  }
  
  @media (min-width: 14in) {
    .GameNavbarBox {
      margin-top: 12%;
      margin-left: 15.95%;
    }
  }

  
/* 
.homePageGameList:focus {
    outline: none;
} */
  