.homePageGameList{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 3vw;
    margin-left: 18vw;
}

.GameNavbarBox {
    align-items: center;
    max-width: 65.4vw;
    padding: 3px;
    padding-right: 2.25vw;
    background: linear-gradient(
      90deg,
      rgba(108, 174, 249, 0.9) 10%,
      rgba(47, 155, 255, 0.8) 25%,
      #0f216e
    );
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 1px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1);
    border: solid 0.5px black;
    margin-bottom: 8.8vh;
  }
  
  @media (min-width: 14in) {
    .GameNavbarBox {
      margin-top: 16vh;
      margin-left: 14vw;
    }
  }

  /* .homePageIndexContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2vw;
  } */
  
/* 
.homePageGameList:focus {
    outline: none;
} */
  