.GameShowInfoBox {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-overflow: ellipsis;
    max-width: 25%;
    position: relative;
    top: 96.5px;
    left: 70px;
    background: linear-gradient(to right, rgba(0,0,0,0) ,rgba(0,0,0,0.4) 90%);
    padding-bottom: 60.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17.5px;
    color: #c6d4df;
    line-height: 1.1;
  }
  
  @media (max-width: 768px) {
    .GameShowInfoBox {
      padding: 0 1rem;
    }
  }
  
  .GameShowInfoBox img {
    max-width: 100%;
  }
  
  @media (min-width: 768px) {
    .GameShowInfoBox {
      margin-left: 56%;
      margin-top: -40.28rem;
    }
  }
  
  .gamesGenreCat p{
    position: relative;
    top: 25px;
    display: inline-block;
    line-height: 23px;
    padding: 0 6px;
    color: #67c1f5;
    background-color: rgba( 103, 193, 245, 0.23 );
    box-shadow: none;
    margin-right: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 3px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14.5px;
  }

  .gamesGenreCat p:hover{
    background: linear-gradient(120deg, #06BFFF 20%, #2D73FF 80%);
    color: white;
  }
  
  .gamesShowInfoDes{
    margin-top: 200px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 10rem;
    text-overflow: ellipsis;
    max-width: 45%;
    font-family: Arial, Helvetica, sans-serif;
    color: #a0a6ae;
    font-size: 16px;
    padding-bottom: 100px;
    letter-spacing: 1px;
    line-height: 1.5;
  }

  
  .gamesShowInfoDes h1{
    font-size: 21px;
  }
  
  .gamesShowInfoDes h1:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #3a6e8b 0, transparent);
    margin-top: 15px;
  }
  
  .gamesDevPubRe {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .info-label-pub {
    font-size: 12px;
    font-weight: 200;
    color: #4a5a66;
    padding-right: 50px;
  }

  .info-label-dev {
    font-size: 12px;
    font-weight: 200;
    color: #4a5a66;
    padding-right: 44px;
  }

  .info-label-date {
    font-size: 12px;
    font-weight: 200;
    color: #4a5a66;
    padding-right: 27px;
  }
  
  .game-info-value {
    color: #60b4e3;
    font-size: 14.5px;
    cursor: pointer;
  }

  .game-info-value:hover{
    color: white;
  }

  .game-info-datval {
    color: #8f98a0;
    font-size: 14.5px;
  }
  
  @media (min-width: 14in) and (max-width: 24in) {
    .GameShowInfoBox {
      margin-left: 56%;
      margin-top: -46.5rem;
    }
    .gamesShowInfoDes {
      max-width: 45%;
    }
  }
  