.GameShowInfoBox {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    text-overflow: ellipsis;
    max-width: 21.1vw;
    position: relative;
    top: 15.79vh;
    left: 4vw;
    background: linear-gradient(to right, rgba(0,0,0,0) ,rgba(0,0,0,0.4) 90%);
    padding-bottom: 13.9vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11x;
    color: #c6d4df;
    line-height: 1.1;
  }
  
  .gamesGenreCat p{
    position: relative;
    top: 9.5vh;
    display: inline-block;
    line-height: 2.6vh;
    padding: 0 0.2vw;
    color: #67c1f5;
    background-color: rgba( 103, 193, 245, 0.23 );
    box-shadow: none;
    margin-right: 0.5vw;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14.5px;
  }

  .gamesGenreCat p:hover{
    background: linear-gradient(120deg, #06BFFF 20%, #2D73FF 80%);
    color: white;
  }
  
  .gamesShowInfoDes{
    margin-top: 26vh;
    margin-left: 2.2vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 0 10rem;
    text-overflow: ellipsis;
    /* max-width: 45%; */
    font-family: Arial, Helvetica, sans-serif;
    color: #a0a6ae;
    font-size: 16px;
    padding-bottom: 8vh;
    letter-spacing: 1px;
    line-height: 1.5;
  }

  
  .gamesShowInfoDes h1{
    font-size: 20px;
  }
  
  .gamesShowInfoDes h1:after {
    content: "";
    display: block;
    height: 2px;
    width: 50vw;
    background: linear-gradient(90deg, #3a6e8b 0, transparent);
    margin-top: 1vh;
  }
  
  .gamesDevPubRe {
    display: flex;
    flex-direction: column;
    gap: 0.2vh;
  }
  
  .info-label-pub {
    font-size: 12px;
    font-weight: 200;
    color: #4a5a66;
    padding-right: 50px;
  }

  .info-label-dev {
    font-size: 12px;
    font-weight: 200;
    color: #4a5a66;
    padding-right: 44px;
  }

  .info-label-date {
    font-size: 12px;
    font-weight: 200;
    color: #4a5a66;
    padding-right: 27px;
  }
  
  .game-info-value {
    color: #60b4e3;
    font-size: 14.5px;
    cursor: pointer;
  }

  .game-info-value:hover{
    color: white;
  }

  .game-info-datval {
    color: #8f98a0;
    font-size: 14.5px;
  }
  
  @media (min-width: 14in) and (max-width: 24in) {
    .GameShowInfoBox {
      margin-left: 55.45vw;
      margin-top: -86vh;
    }
    .gamesShowInfoDes {
      max-width: 45vw;
    }
  }
  