
.thumb-container {
    /* position: relative; */
    border: 0.2vh solid transparent;
    /* padding: 2px; */
    transition: all 0.2s ease;
  }
  
  .thumb-container:hover {
    border-color: #fff;
  }
  
  @media (min-width: 14in) and (max-width: 24in) {
    .game-show-carousel {
      position: relative;
      max-width: 45vw;
      height: 51.2vh;
      bottom: 7vh;
    }
  
    .game-show-carousel-thumbs {
      max-width: 45vw;
      height: 11.5vh;
      bottom: 11.9vh;
    }
  
    .gameShowCarouselBox {
      margin-right: 21.95vw;
    }
  
    .game-show-carousel-thumbs img {
      width: 10.5vw;
      height: 11vh;
    }

    .gameShowCarouselBox .swiper .main-carousel-img{
      width: 45vw;
      height: 46vh;
      /* margin-left: 5vw; */
    } 
    
  }
  
 
  